body {
    z-index: 0;
    margin: 0;


}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}